@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sea: #84ed48;
    --blue: #3e5e9d;
    --off: #efefef;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
}

nav {
    height: 7vw;
    width: 100%;
    background-color: #360081;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.navlogo img {
    width: 13vw;
    cursor: pointer;
}

.navmenu {
    color: #fff;
    display: flex;
    align-items: center;
}

.navmenu h4 {
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 500;
    margin: 0 0.5vw;
}

.navmenu h4 .up {
    display: none;
}

.navmenu h4:hover {
    cursor: pointer;
}

.navbutton {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}

.navbutton button {
    padding: 0.5vw 0;
    width: 90%;
    cursor: pointer;
    border-radius: 0.3vw;
    border: none;
    background-color: var(--sea);
    color: #360081;
    font-weight: 600;
    font-size: 1.5vw;
    transition: all 0.1s linear;
}

.navbutton button:hover {
    padding: 0.5vw 0vw;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.233);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid white;
}

.navbutton span {
    font-size: 1vw;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(1st\ page.jpg);
    background-size: cover;
    transition: all .5s ease-in-out;
    display: flex;
    color: white;
}

.cont1 {
    width: 60%;
    height: 81.8%;
    margin-top: 7vw;
    padding: 5vw;
}

.cont1 h1 {
    font-size: 4vw;
    text-transform: uppercase;
}

.cont1 p {
    padding-top: 2vw;
    font-size: 1.5vw;
    color: #cfacff;
}

.cont1 button {
    margin-top: 2.5vw;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border: none;
    background-color: var(--sea);
    border-radius: 10px;
    font-weight: 700;
    transition: all ease-in-out 0.1s;
    color: #4400A5;

}

.cont1 button:hover {
    padding: 1.1vw 2.1vw;
    background-color: rgba(0, 0, 0, 0.233);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid white;
}

.cont2 {
    width: 50%;
    height: 100%;
}

#page2 {
    width: 100%;
    height: 100vh;
}

#moving-div {
    margin-top: 2vw;
    position: relative;
    top: 0%;
    width: 100%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;

}

#moving-div .move {
    display: inline-block;
    animation: mobe 14s linear infinite;
}

#moving-div .move img {
    height: 6vw;
    margin: 0 1.2vw;
    border-radius: 50px;
}

#moving-div .move img:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent, #fff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #fff);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.card-cont {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
    margin-top: 1vw;
    /* background-color: crimson; */
}

.card {
    height: 100%;
    width: 22%;
    border: 2px solid #dadada;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 9px 10px 0px #696969;
}

.preinfo {
    padding: 1.5vw;
}

.card .icon1 {
    width: 5vw;
    height: 5vw;
    padding: 0.5vw;
}

.card .icon {
    width: 6vw;
    height: 6vw;
    padding: 0.5vw;
}

.card h2 {
    font-size: 2vw;
    padding: 2vw 0 1vw 0;
}

.card p {
    font-size: 1.5vw;
    padding: 1vw 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .hovinfo {
    transform: translateY(-65%);
}

.card:hover .hovinfospe {
    transform: translateY(-58.5%);
}

.hovinfo {
    background-color: #360081;
    width: 100%;
    height: 150%;
    transform: translateY(32%);
    transition: all 0.4s ease-in-out;
    padding: 1.5vw;
    color: white;
}

.hovinfo button {
    margin-top: 1vw;
    font-size: 1.2vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #08b4a3;
    color: white;
    transition: all 0.1s linear;
}

.hovinfo button:hover {
    background-color: #5decdd;
    color: #360081;
}

.page3 {
    width: 100%;
    min-height: 100vh;
}

.counters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    /* background-color: #84ed48; */
}

.counter-box {
    height: 20vh;
    width: 15%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-box h1 {
    font-size: 4vw;
}

.counter-box p {
    font-size: 1.2vw;
    text-align: center;
}

.sndinfo {
    background-image: url(3rd\ page.png);
    width: 100%;
    height: 90vh;
    margin: 6vw 0 0vw;
    background-size: cover;
    display: flex;
}

.p3-l {
    width: 50%;
    height: 100%;
}

.p3-r {
    width: 50%;
    height: 100%;
    padding: 5vw;
    color: white;
}


.p3-r h1 {
    font-size: 3vw;
}

.p3-r p {
    padding-top: 2vw;
    font-size: 1.5vw;
    color: #e2ceff;
}

.p3-r button {
    margin-top: 2.5vw;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border: none;
    background-color: var(--sea);
    border-radius: 10px;
    font-weight: 700;
    transition: all ease-in-out 0.1s;
    color: #4400A5;

}

.p3-r button:hover {
    padding: 1.1vw 2.1vw;
    background-color: rgba(0, 0, 0, 0.233);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid white;
}

#page4 {
    width: 100%;
    height: 85vh;
    background-color: #ffffff;
}

.p4heading h1 {
    height: 10vh;
    width: 100%;
    text-align: center;
    padding: 5vw;
    font-size: 4vw;
}

.square-cont {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    background-color: #e7e7e7;
    width: 20vw;
    height: 20vw;
    margin: 0 1vw;
    border-radius: 0.7vw;
    overflow: hidden;
    position: relative;
}

.square .sq-icon {
    width: 5vw;
    margin: 1.5vw;
}

.square h4 {
    font-size: 2vw;
    padding: 1.5vw;
}


.sq-hover {
    padding: 1.5vw;
    transition: all 0.3s ease-in-out;
    background-color: #360081;
    width: 20vw;
    height: 20vw;
    color: white;
    position: absolute;
    top: 100%;
}


.sq-hover h2 {
    margin-bottom: 1.5vw;
}


.square:hover .sq-hover {
    top: 0%;
    cursor: default;
}

#page5 {
    width: 100%;
    height: fit-content;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    /* align-items: flex-start; */
    transition: transform 0.3s ease-in-out;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 4vw;
    margin-right: 3vw;
    height: 50%;
    width: 95.3%;
    flex: 0 0 auto;
    transform: translateX(2.5%);
    transition: all 1s linear;
}


.slide img {
    width: 18vw;
    padding: 2vw;
}

.slide p {
    font-size: 1.5vw;
    margin-top: 1vw;
}


.carousel button {
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* margin: 0 1vw; */
    padding: 1vw;
    border-radius: 10px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 10;
}

.next {
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 10;
}


#page6 {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}
